* {
	font-family: "Google Sans", sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: white;
	min-width: 282px;
	color: #202124;
	font-size: 15px;
}

/* main */

main {
	max-width: 900px;
	padding-inline: 16px;
	margin: 2em auto;
}

/* header */

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-logo { width: 4em; }

.header-title {
	color: #5f6368;
	font-size: 2rem;
}

/* form */

#form {
	max-width: 516px;
	border: none;
	border-radius: 8px;
	box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.2);
	padding: 12px;
	margin: 32px auto 16px;
}

#note-title,
#note-text {
	width: 100%;
	height: 38px;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	padding-block: 10px;
}


#note-title { display: none; }

#note-text {
	outline: none;
	resize: none;
}

input:focus { outline: none; }

#form-buttons {
	display: none;
	text-align: right;
}

#submit-button,
#form-close-button {
	font-size: 0.875rem;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	padding: 10px 24px;
	margin: 4px;
	cursor: pointer;
}

#submit-button {
	background-color: #007bff;
	color: #fff;
}

#form-close-button {
	background-color: rgb(251, 251, 251);
	color: rgba(0, 0, 0, 0.87);
}

#submit-button:hover,
#form-close-button:hover { filter: brightness(95%); }

/* notes */

#notes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
	padding-block: 16px;
}

.note {
	display: flex;
	flex-direction: column;
	width: 250px;
	background-color: #fff;
	border: 1px solid #d3d3d3;
	border-radius: 8px;
	padding-top: 16px;
	gap: 16px;
	transition: box-shadow 0.2s;
	cursor: pointer;
}

.note:hover { box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15); }

.note-title {
	font-size: 1rem;
	font-weight: 500;
}

.note-text { font-size: 1.125rem; }

.note-title,
.note-text {
	white-space: pre-wrap;
	word-wrap: break-word;
	padding-inline: 16px;
}

/* placeholder */

#placeholder {
	text-align: center;
	margin-top: 20vh;
}

.placeholder-logo {
	width: 120px;
	opacity: 0.1;
	margin: 20px;
}

.placeholder-text {
	color: #80868b;
	font-size: 1.375rem;
	cursor: default;
}

/* toolbar */

.toolbar {
	align-self: flex-end;
	margin-top: auto;
}

.toolbar-color,
.toolbar-delete {
	width: 20px;
	opacity: 0.3;
	transition: opacity 0.2s;
	margin-inline: 5px;
}

.toolbar-color:hover,
.toolbar-delete:hover { opacity: 1; }

/* tooltip */

#color-tooltip {
	display: none;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background-color: white;
	width: 140px;
	height: 40px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 7px;
}

.color-option {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid #dedede;
	cursor: pointer;
}

.color-option:hover { border: 1px solid black; }

#white { background-color: white; }
#purple { background-color: #d7aefb; }
#orange { background-color: #fbbc04; }
#teal { background-color: #a7ffeb; }

/* modal */

.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(229, 229, 229, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0.25s, opacity 0.25s, transform 0.25s;
}

.open-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s, opacity 0.25s, transform 0.25s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 360px;
	box-shadow: 0 4px 8px 3px rgba(60, 64, 67, 0.149);
	border-radius: 0.5rem;
	padding: 1rem 1.5rem;
	margin: 10px;
}

.modal-title {
	width: 100%;
	font-size: 1.375rem;
	border: none;
	padding-block: 12px;
}

.modal-text {
	width: 100%;
	height: 200px;
	color: #202124;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	outline: none;
	resize: none;
	padding-block: 10px;
}

.modal-close-button {
	float: right;
	background-color: white;
	font-size: 1rem;
	font-weight: 500;
	border: none;
	border-radius: 4px;
	padding: 10px 24px;
	cursor: pointer;
}

.modal-title,
.modal-text,
.modal-close-button { background-color: transparent; }

.modal-close-button:hover { background-color: rgba(99, 99, 99, 0.09); }

.disclaimer {
	font-family: "Google Sans", sans-serif;
    color: red;
    text-align: center;
}
